@mixin button {
    color: #fff;
    font-weight: bold;
    padding: 10px 30px;
    background-color: map-get($colors, button-color);
    border: none;
    border-radius: 2px;
}

@mixin link {
    color: #ccc;
    display: block;
    text-align: center;
    font-size: 12px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: map-get($colors, main-background-color);
}

.wrapping {
    width: 80%;
    margin: 0 auto;
}

.logo-markup {
    img {
        width: 30px;
        height: 30px;
        float: left;
        margin-right: 10px;
        margin-top: 4px;
    }

    p {
        font-weight: bold;
        font-size: 18px;

        span {
            display: block;
            font-weight: normal;
            font-size: 10px;
            margin-left: 43px;
        }
    }
}

.header {
    background-image: url($backgroundHeader);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 0 0 500px/170px 0;

    .header-wrap {
        @extend .wrapping;
        padding: 10px;
        color: map-get($colors, text-color);

        .landing-logo {
            @extend .logo-markup;
        }

        p.header_heading {
            font-size: 36px;
            width: 300px;
            font-weight: bold;
            margin: 25px 0 5px 0;
            background: linear-gradient(to left, map-get($colors, mark-background-color), map-get($colors, mark-background-color)) no-repeat -150px 50px;
        }

        p.header_text {
            white-space: pre-line;
            font-size: 12px;
            line-height: 20px;
            margin-bottom: 40px;
        }

        div {
            button {
                @include button;
                margin-right: 10%;
            }

            a {
                color: #fff;
            }
        }

        div:last-of-type {
            margin-bottom: 100px;
        }

    }
}

.section {

    .section_text {
        text-align: center;
        width: 230px;
        font-size: 22px;
        margin: 20px auto;
        color: map-get($colors, text-color);
        background: linear-gradient(to left, map-get($colors, mark-background-color), map-get($colors, mark-background-color)) no-repeat 120px 0px;
        background-size: 95px 25px;

    }

    .section_card_wrap {
        
        .section_card {
            width: 60%;
            margin: 15px auto;
            background-color: map-get($colors, content-box-background);
            display: flex;
            flex-direction: row;
            padding: 10px;
            border-radius: 5px;

            .section_card_img {
                border-radius: 5px;
            }

            .section_card_right_container {
                width: 50%;
                margin: 0 auto;
                color: #ccc;

                .section_card_heading {
                    font-size: 18px;
                    text-align: center;
                    margin: 20px 0;
                    color: #fff;
                }

                .section_card_text {
                    font-size: 12px;
                    text-align: justify;
                    margin: 15px 0;
                }

                a.section_link {
                    @include link;
                }
            }
        }
    }

    .section_banner {
        width: 65%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 10px;
        border-radius: 5px;
        position: relative;
        top: 35px;
        background: linear-gradient(to right, map-get($colors, button-color), map-get($colors, second-gradient-color));

        .section_banner_text_wrap {

            .section_banner_heading {
                font-weight: bold;
                margin-bottom: 10px;
                color: map-get($colors, text-color);
                background: linear-gradient(to left, map-get($colors, mark-background-color), map-get($colors, mark-background-color)) no-repeat 65px 0px;
                background-size: 35px 30px;
            }

            .section_banner_text {
                font-size: 12px;
                color: #ccc;
            }
        }

        button {
            @include button;
            margin: 10px 0;
        }
    }
}



.footer {
    background-color: map-get($colors, content-box-background);

    .footer-wrap {
        @extend .wrapping;
        padding: 60px 10px 30px 10px;
        color: #ccc;

        .landing-logo {
            @extend .logo-markup;
            width: 38%;
            display: inline-block;
        }

        p.footer_text {
            width: 23%;
            display: inline-block;
            font-size: 12px;
        }

        .footer-cr {
            display: inline-block;
            width: 38%;
            font-size: 12px;
            text-align: right;
        }
    }
}