$backgroundHeader: '../img/m-h-day.jpg';
$colors: (
    button-color: rgb(45, 179, 0),
    text-color: #222,
    mark-background-color: hsla(189, 59%, 48%, 0.884),
    content-box-background:  rgb(18, 17, 27),
    main-background-color: #fff,
    second-gradient-color: rgb(41, 109, 197)
);