$backgroundHeader: '../img/m-h-night.jpg';
$colors: (
    button-color: rgb(207, 204, 14),
    text-color: #eee,
    mark-background-color: hsl(7, 84%, 51%),
    content-box-background:  rgb(59, 56, 75),
    main-background-color: rgb(18, 17, 27),
    second-gradient-color: hsla(340, 85%, 48%, 1)
);